@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=New+Amsterdam&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

:root {
    --cor1: #38b6ff;
    --cor2: #ff66c4;
    --cor3: #fff;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor1);
    border-bottom: 3px solid var(--cor2);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logobg {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

main {
    
}

.sec-01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media {
    overflow-x: hidden;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    gap: 50px;
    font-size: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.fa-facebook:active, .fa-instagram:active, .fa-youtube:active {
    transform: scale(1.1);
}

.fa-facebook {
    color: blue;
    padding: 3px;
    transition: .3s ease-in-out;
}

.fa-instagram {
    color: rgb(187, 0, 178);
    padding: 3px;
    transition: .3s ease-in-out;
}

.fa-youtube {
    color: red;
    padding: 3px;
    transition: .3s ease-in-out;
}

.sec-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 2px;
    font-weight: 500;
}

.info h1 {
    margin: 3px 0;
    border-bottom: 3px solid var(--cor2);
    line-height: .9;
}

.info p {
    margin: 10px 0;
    font-size: small;
}

.info {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bolo {
    display: flex;
    align-items: center;
    width: 80%;
    object-fit: cover;
}

.bolo1 {
    margin: -45px 0 20px;
    width: 100%;
}

.sec-03 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/pattern1.png");
    background-size: cover;
    background-repeat: repeat-y;
    border-top: 3px solid var(--cor2);
}

.geral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.geral h1 {
    margin: 20px 0;
    line-height: .8;
    border-bottom: 3px solid var(--cor2);
}

.ad1 {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #38b6ff77;
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ad1>img {
    width: 250px;
    object-fit: cover;
}

.desc-ad {
    width: 85%;
    margin: 3px;
    font-size: medium;
    font-weight: 500;
}

.zap {
    padding: 3px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.fa-square-whatsapp {
    font-size: 40px;
    color: green;
    transition: .3 ease-in-out;
}

.fa-square-whatsapp:active {
    transform: scale(1.1);
}